@use 'variables' as v; 

/** Media Queries **/
@mixin telefono_small{
    @media(min-width: v.$phone_small){
        @content;
    }
}

@mixin telefono {
    @media (min-width: v.$phone) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: v.$tablet) {
        @content;
    }
}
  
@mixin desktop_small{
    @media(min-width: v.$desktopSmall){
        @content;
    }
}

@mixin desktop_medium {
    @media (min-width: v.$desktopMedium) {
        @content;
    }
}

@mixin desktop_xl {
    @media (min-width: v.$desktopLarge) {
        @content;
    }
}

@mixin button($bgColor, $colorText) {
    background-color: $bgColor;
    padding: 1.5rem 4rem;
    color: $colorText;
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: 400;
    display: inline-block;
    font-weight: 700;
    border: none;
    transition-property: background-color;
    transition-duration: .3s;
    

    @include tablet {
        width: auto;
    }
    &:hover {
        background-color: darken( $bgColor, 10% );
    }
}

@mixin grid($columns, $spancing) {
    display: grid;
    gap: $spacing;
    grid-template-columns: repeat($columns, 1fr);
}
